app/node_modules/

terraform/.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform.lock.hcl

.DS_Store

terraform-backup

terraform-backup-24-6-26

terraform-backup-25-6-26

certs/

hello/

k8s/ 